<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test Compendiumdev">
		<groups>
			<!-- Para hacer grupos de grupos. El nombre del grupo de grupo se coloca en etiqueta run -->
			<define name="Grupo 1">
				<include name="A" />
				<include name="B" />
				<include name="C" />
				<include name="X" />
			</define>
			<run>
				<!-- aca va el mismo nombre que se utiliza dentro del @Test(groups = "") -->
				<include name="Grupo 1" />
				<!--<exclude name="Grupo 1" /> -->
			</run>
		</groups>
		<classes>
			<class name="casosReales.Compendiumdev" />
		</classes>
	</test>
	<test thread-count="5" name="Test Omayo">
		<groups>
			<!-- Para hacer grupos de grupos. El nombre del grupo de grupo se coloca en etiqueta run -->
			<define name="Grupo 1">
				<include name="A" />
				<include name="B" />
				<include name="C" />
				<include name="X" />
			</define>
			<run>
				<!-- aca va el mismo nombre que se utiliza dentro del @Test(groups = "") -->
				<include name="Grupo 1" />
				<!--<exclude name="Grupo 1" /> -->
			</run>
		</groups>
		<classes>
			<class name="casosReales.Omayo" />
		</classes>
	</test>
</suite>
